<h1>Home</h1>

<button class="button button-blue-back" type="button">Load Programming Languages



</button>


@* @{ *@
@* 	ListModel listModel = new ListModel(); *@
@* 	listModel.ListTitle = "Countries"; *@
@* 	listModel.ListItems = new List<string>() *@
@*  { *@
@*   "USA", *@
@*   "Canada", *@
@*   "Japan", *@
@*   "Germany", *@
@*   "India" *@
@*  }; *@
@* } *@
@* <partial name="_ListPartialView" model="listModel"></partial> *@