<h1>Home</h1>

<button class="button button-blue-back" type="button" id="button-load">Load Programming Languages
</button>

<script>
	document.querySelector("#button-load").addEventListener("click",function(){ var response= await
	fetch("programming-languages")
	response.body
	});

</script>


@* @{ *@
@* 	ListModel listModel = new ListModel(); *@
@* 	listModel.ListTitle = "Countries"; *@
@* 	listModel.ListItems = new List<string>() *@
@*  { *@
@*   "USA", *@
@*   "Canada", *@
@*   "Japan", *@
@*   "Germany", *@
@*   "India" *@
@*  }; *@
@* } *@
@* <partial name="_ListPartialView" model="listModel"></partial> *@